@media (min-width: 320px) {
  .aftercourse-section {
    display: flex;
    flex-wrap: wrap;
    width: 267px;
    margin: 20px auto;
    overflow: hidden;
  }

  .aftercourse-section__discription {
    margin: 10px auto;
    width: 200px;
  }

  .aftercourse-section_title {
    width: 150px;
    color: #000;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .aftercourse-section_title--bgc {
    color: #fff;
    background: #000;
  }

  .aftercourse-section_subtitle {
    color: #000000;
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
    margin: 10px auto;
    text-align: left;
    position: relative;
    padding-left: 15px;
  }

  .aftercourse-section_subtitle::before {
    content: "";
    width: 12px;
    height: 3px;
    background-color: #000000;
    display: block;
    position: absolute;
    top: 5px;
    left: -5px;
  }

  .aftercourse-section__list {
    width: 200px;
    @include flex-list;
    margin: 0 auto;
  }

  .aftercourse-section__item__title {
    color: #000000;
    font-size: 9px;
    font-weight: 800;
    line-height: 13px;
    text-transform: uppercase;
    margin-top: 20px;
    position: relative;
  }

  .aftercourse-section__list-item {
    position: relative;
    counter-increment: a;
    //overflow: hidden;
  }

  .aftercourse-section__list-item::before {
    display: block;
    position: absolute;
    left: -40px;
    top: 20px;
    content: "0" counter(a) ".";
    font-size: 17px;
    font-weight: 900;
  }

  .aftercourse-section__item__title::before {
    position: absolute;
    top: 20px;
    left: -25px;
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background-color: #16ebfe;
  }

  .aftercourse-section__item__about {
    color: #3f4144;
    font-size: 9px;
    font-weight: 400;
    line-height: 13px;
  }

  .aftercourse-section__after-item {
    width: 100%;
    color: #ff6b08;
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
    margin: 25px auto;
  }

  .aftercourse-section__button {
    width: 145px;
    height: 32px;
    border: none;
    box-shadow: 0 3px 4px rgba(196, 87, 15, 0.26);
    background-color: #ff6b08;
    color: #ffffff;
    font-size: 7px;
    font-family: Acrom, Arial, sans-serif;
    font-weight: 700;
    line-height: 10.81px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 0 auto;
  }
}
