.ps-section {
  &__wrapper {
    max-width: 320px;
    margin: 0 auto;

    @include mobile-big {
      max-width: 480px;
    }

    @include tablet-small {
      max-width: 768px;
    }

    @include tablet-big {
      max-width: 960px;
    }

    @include desktop-small {
      max-width: 1200px;
    }

    @include desktop-big {
      max-width: 1440px;
    }
  }

  &__title {
    @extend %section-title;
    padding-bottom: 12px;
    text-align: center;
    margin: 0 auto;
    max-width: 125px;
    position: relative;

    &::after {
      display: block;
      content: "GO";
      font-size: 67.82px;
      color: rgb(247, 247, 247);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 0.8;
      position: absolute;
      left: -100px;
      top: 20px;
      z-index: -1;
      transform: rotate(90deg);
    }
  }

  &__discr {
    max-width: 124px;
    margin: 0 auto;
    position: relative;
    font-weight: $medium;
    padding-bottom: 21px;
    padding-left: 10px;
  }

  &__discr::before {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: $title-dark-color;
    position: absolute;
    top: 5px;
    left: -10px;
  }

  &__button {
    margin: 0 auto;
    color: $title-light-color;
    text-align: center;
    font-size: 7px;
    font-weight: $black;
    line-height: 10.06px;
    padding: 12px 28px;
    margin-bottom: 27px;
  }

  &__name {
    text-align: center;
    color: $title-dark-color;
    font-size: 13px;
    font-weight: $black;
    line-height: 15.99px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  &__list {
    max-width: 250px;
    margin: 0 auto;
    @include flex-list;
  }

  &__item {
    padding-bottom: 19px;
  }

  &__item:first-child {
    padding-bottom: 7px;
  }

  &__item--bold {
    font-weight: $bold;
  }

  &__marktext {
    color: $mark-warm-color;
    font-weight: $medium;
    text-align: right;
    width: 100%;
  }
}
