.upperfooter {
  background-color: $upperfootercolor;

  &__wrapper {
    min-width: 320px;
    max-width: 380px;
    width: 100%;
    min-height: 70px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $upperfootercolor;
    color: $title-light-color;
    font-size: 3.5px;
    line-height: 5.5px;

    @include mobile-big {
      min-width: 480px;
      min-height: 100px;
      padding: 0 17px;
      font-size: 5.5px;
      line-height: 8px;
    }

    @include tablet-small {
      min-width: 768px;
      min-height: 146px;
      padding: 0 65px;
      font-size: 8px;
      line-height: 12px;
    }

    @include tablet-big {
      min-width: 960px;
      min-height: 180px;
      padding: 0 80px;
      font-size: 10px;
      line-height: 15px;
    }

    @include desktop-small {
      min-width: 732px;
      min-height: 167px;
      padding: 0 10px;
      font-size: 9px;
      line-height: 13px;
    }

    @include desktop-big {
      min-width: 878px;
      min-height: 200px;
      padding: 0 12px;
      font-size: 10.5px;
      line-height: 16px;
    }
  }

  // LOGO

  &__logo img {
    width: 27px;
    height: 9px;

    @include mobile-big {
      width: 42px;
      height: 14px;
    }

    @include tablet-small {
      width: 57px;
      height: 18px;
    }

    @include tablet-big {
      width: 71px;
      height: 22px;
    }

    @include desktop-small {
      width: 63px;
      height: 19px;
    }

    @include desktop-small {
      width: 75px;
      height: 23px;
    }
  }

  // SOSIAL

  &__social {
    @extend %link;
    color: $title-light-color;
    font-weight: $black;
    line-height: 7px;

    @include mobile-big {
      line-height: 10px;
    }

    @include tablet-small {
      line-height: 15px;
    }

    @include tablet-big {
      line-height: 18px;
    }

    @include desktop-small {
      line-height: 16px;
    }

    @include desktop-big {
      line-height: 19.5px;
    }
  }

  // BUTTON

  &__button {
    width: 58px;
    height: 12px;
    font-weight: $black;
    color: $title-light-color;
    text-transform: uppercase;
    background-color: transparent;
    border: 0.417px solid #1b4371;
    outline: none;
    cursor: pointer;

    @include mobile-big {
      width: 86px;
      height: 20px;
      border-width: 0.625px;
    }

    @include tablet-small {
      width: 125px;
      height: 30px;
      border-width: 1px;
    }

    @include tablet-big {
      width: 155px;
      height: 35px;
      border-width: 1.25px;
    }

    @include desktop-small {
      width: 138px;
      height: 32px;
    }

    @include desktop-big {
      width: 164px;
      height: 34px;
      border-width: 1.5px;
    }

    &:hover {
      color: $mark-warm-color;
    }
  }
}

.upperfooter__container {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 65%;
}

// CONTACT'S TITLE
.contact {
  &__title {
    margin-bottom: 5px;
    font-weight: $black;

    @include tablet-small {
      margin-bottom: 10px;
    }

    @include desktop-big {
      margin-bottom: 14px;
    }
  }

  &__email,
  &__tel,
  &__address {
    display: block;
    @extend %link;
    color: #a2a2a2;
  }
}
